<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\pc\desktop\новая папка (4)\spsu-mm-programming-second-course\8_filters\server\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding1" closeTimeout="10:10:00" openTimeout="10:10:00"
          receiveTimeout="10:10:00" sendTimeout="10:10:00" transferMode="Buffered"
          maxBufferPoolSize="2000000000" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000"
            maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
          <reliableSession inactivityTimeout="10:10:00" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="NewBinding0" closeTimeout="00:10:00" openTimeout="00:10:00"
          sendTimeout="00:10:00" transactionFlow="true" maxBufferPoolSize="2000000000"
          maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000"
            maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
          <reliableSession inactivityTimeout="10:10:00" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="Server.Service">
        <endpoint address="CallbackService" binding="netTcpBinding" bindingConfiguration="NewBinding1"
          contract="Server.IService" />
        <endpoint address="http://localhost:8888/CallbackService" binding="wsDualHttpBinding"
          bindingConfiguration="NewBinding0" contract="Server.IService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="http://localhost:8888/mex" binding="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.Tcp://localhost:8732/" />
            <add baseAddress="http://localhost:8888" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>