<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="netTcpEndpointConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingConfig"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 closeTimeout="00:00:40"
                 openTimeout="00:00:40"
                 receiveTimeout="00:00:40"
                 sendTimeout="00:00:40"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8080/Service"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingConfig"
                contract="ServiceReference1.IService"
                name="NetTcpBinding_IService">
        <identity>
          <userPrincipalName value="ASUST21\Дима" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>