<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="extendedEndpointConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IInstService"
                 closeTimeout="00:03:00"
                 openTimeout="00:03:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:03:00" 
                 maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:13000/InstService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IInstService" contract="InstSevrRef.IInstService"
          name="NetTcpBinding_IInstService" behaviorConfiguration="extendedEndpointConfig">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>