<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" /> <binding name="myBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed" >
                <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Filters/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="Filtering.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>