<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
              <binding name="NetTcpBinding_IService" closeTimeout="10:10:00" openTimeout="10:10:00"
               receiveTimeout="10:10:00" sendTimeout="10:10:00" transferMode="Buffered"
               maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                <reliableSession inactivityTimeout="10:10:00" />
              </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService" closeTimeout="10:01:00" openTimeout="10:01:00"
                 receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                                maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                                maxNameTableCharCount="2147483647" />
                  <reliableSession inactivityTimeout="10:10:00" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8085/Contract" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService" contract="MyServiceReference.IService"
                name="NetTcpBinding_IService">
                <identity>
                    <userPrincipalName value="IRIK\Ирина" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8081/Contract" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IService" contract="MyServiceReference.IService"
                name="WSDualHttpBinding_IService">
                <identity>
                    <userPrincipalName value="IRIK\Ирина" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>