<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<system.serviceModel>   
    <services>
      <service name ="Shared.InstService" behaviorConfiguration="mexBehavior">
        <endpoint address="InstService" 
                  binding="netTcpBinding" bindingConfiguration="extendedTcpBinding" 
                  contract="Shared.IInstService" behaviorConfiguration="extendedEndpointBehaviorConfig"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:13000"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  
  <bindings>
    <netTcpBinding>
      <binding name="extendedTcpBinding"
               maxBufferPoolSize="524288"
               maxBufferSize="2147483647"
               maxReceivedMessageSize="2147483647">      
      </binding>
    </netTcpBinding>
  </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>    
      <endpointBehaviors>
        <behavior name="extendedEndpointBehaviorConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>  
  </system.serviceModel>
  
</configuration>