<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>        
        <binding name="MyNetTcpBinding" closeTimeout="10:10:00" openTimeout="10:10:00"
                 receiveTimeout="10:10:00" sendTimeout="10:10:00" transferMode="Buffered"
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="10:10:00" />
        </binding>
      </netTcpBinding>     
      <wsDualHttpBinding>
        <binding name="MyWsDualHttpBinding" closeTimeout="10:01:00" openTimeout="10:01:00"
                 receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="10:10:00" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>   
    <services>
      <service name="Contract.Service">
        <endpoint address="Contract" binding="netTcpBinding" bindingConfiguration="MyNetTcpBinding"
                  contract="Contract.IService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="http://localhost:8081/Contract"  binding="wsDualHttpBinding"
                  bindingConfiguration="MyWsDualHttpBinding" contract="Contract.IService"/>
        <endpoint address="http://localhost:8081/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081" />
            <add baseAddress="net.tcp://localhost:8085"/>
          </baseAddresses>
        </host>
      </service>
    </services>    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>

