<?xml version="1.0" encoding="utf-8" ?>
<!--Client-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="myBinding" closeTimeout="10:10:00" openTimeout="10:10:00"
               receiveTimeout="10:10:00" sendTimeout="10:10:00" transferMode="Buffered"
               maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="10:10:00" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8733/Filters" binding="netTcpBinding"
                bindingConfiguration="myBinding" contract="Filtering.IService"
                name="myBinding">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>